:root {
    --primary: #fcbc0e;
    --secondary: #3a638f;   
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--secondary);
}

.header {
    margin: 20px auto;
    
}

.header .title {
    color: white;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    gap: 10px;
    margin-top: 10px;
}

.links a {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 18px;    
    text-decoration: none;    
}

.links a p{
    color: rgba(252, 189, 14, 0.623);    
}

.links a p:hover{
    color: var(--primary);    
}

.github, .linkedin {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    columns: black;
}

.box-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;      
}

#slider-top {
    position: absolute;
    top: 0;
    left: -9px;
    width: 318px;
    background-color: var(--primary);
    -webkit-appearance: none;
    height: 0px;
}
#slider-bottom {
    position: absolute;
    transform: rotate(180deg);
    top: 300px;
    left: -9px;
    width: 318px;
    background-color: var(--primary);
    -webkit-appearance: none;
    height: 0px;
}
#slider-left {
    position: absolute;
    transform: rotate(90deg);
    top: 150px;
    left: -159px;
    width: 318px;
    background-color: var(--primary);
    -webkit-appearance: none;
    height: 0px;
}
#slider-right {
    position: absolute;
    transform: rotate(90deg);
    top: 150px;
    left: 141px;
    width: 318px;
    background-color: var(--primary);
    -webkit-appearance: none;
    height: 0px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--primary);
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid black;    
}

input[type="range"]::-webkit-slider-thumb:hover { 
    border: 6px solid white;    
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px dashed rgba(255, 255, 255, .5);
}
.box__border {
    width: 100%;
    height: 100%;
    border-radius: 77% 23% 75% 25% / 18% 65% 35% 82%;
    background-color: var(--primary);
    box-shadow: 10vmin 10vmin 0 rgb(255 255 255 / 7%);
}

.container-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    width: 100%;    
}

.box-result {
    display: flex;
}

#result-copy {
    color: black;
    background-color: #e2e1e1;
    padding: 15px 10px;
    font-size: 1.1rem;
    width: 360px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .box-result {
        width: 340px;
    }
}

@media screen and (max-width: 900px) {
    #result-copy {
        font-size: 0.8rem;
    }
}

.button-copy {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    color: black;
    background-color: var(--primary);
    font-weight: 600;
    cursor: pointer;    
}

.button-copy:hover {
    background-color: #fcef3f;
}

.tooltip {
    position: absolute;
    
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    width: 150px;
    top: -45px;
    background-color: #e2e1e1;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip::after {
    content: '';
    position: absolute;       
    top: 100%;
    z-index: 100;
    border-style: solid;
    border-width: 8px;
    border-color: #e2e1e1 transparent transparent transparent; 
}
.footer {  
    width: 100%; 
    display: flex;
    justify-content: center; 
    background-color: rgba(255, 255, 255, .1);
}
.footer h3 {
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}




